* {
  margin: 0;
  padding: 10px;
}

span {
  font-style: italic;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  padding: 10px;
  background-color: white;
}

main {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

body {
  background-color: rgb(255, 200, 200);
}
